/* $Id: rsrc.rc,v 1.1 1999-11-28 23:10:11 bird Exp $
 *
 * Resources used while testing kernel32.
 *
 * Copyright (c) 1999 knut st. osmundsen
 *
 * Project Odin Software License can be found in LICENSE.TXT
 *
 */
#include <windows.h>
#include "rsrc.h"


/* some "language indepented" menues */
LANGUAGE 0,0

IDM_1 MENU DISCARDABLE
BEGIN
    MENUITEM  "MenuItem1",      IDM_1_ITEM1
    MENUITEM  "MenuItem2",      IDM_1_ITEM2
    MENUITEM  "MenuItem3",      IDM_1_ITEM3
    MENUITEM  "MenuItem4",      IDM_1_ITEM4
END

IDM_2 MENU DISCARDABLE
BEGIN
    MENUITEM  "MenuItem1",      IDM_2_ITEM1
END

IDM_3 MENU DISCARDABLE
BEGIN
    MENUITEM  "MenuItem1",      IDM_3_ITEM1
    MENUITEM  "MenuItem3",      IDM_3_ITEM3
    MENUITEM  "MenuItem4",      IDM_3_ITEM4
END

IDM_4 MENU DISCARDABLE
BEGIN
    MENUITEM  "MenuItem1",      IDM_4_ITEM1
    MENUITEM  "MenuItem2",      IDM_4_ITEM2
    MENUITEM  "MenuItem3",      IDM_4_ITEM3
    MENUITEM  "MenuItem4",      IDM_4_ITEM4
    MENUITEM  "MenuItem5",      IDM_4_ITEM5
    MENUITEM  "MenuItem6",      IDM_4_ITEM6
END


LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

IDM_1 MENU DISCARDABLE
BEGIN
    MENUITEM  "MenuItem1",      IDM_1_ITEM1
    MENUITEM  "MenuItem2",      IDM_1_ITEM2
    MENUITEM  "MenuItem3",      IDM_1_ITEM3
    MENUITEM  "MenuItem4",      IDM_1_ITEM4
END

IDM_2 MENU DISCARDABLE
BEGIN
    MENUITEM  "MenuItem1",      IDM_2_ITEM1
END

IDM_3 MENU DISCARDABLE
BEGIN
    MENUITEM  "MenuItem1",      IDM_3_ITEM1
    MENUITEM  "MenuItem3",      IDM_3_ITEM3
    MENUITEM  "MenuItem4",      IDM_3_ITEM4
END

IDM_4 MENU DISCARDABLE
BEGIN
    MENUITEM  "MenuItem1",      IDM_4_ITEM1
    MENUITEM  "MenuItem2",      IDM_4_ITEM2
    MENUITEM  "MenuItem3",      IDM_4_ITEM3
    MENUITEM  "MenuItem4",      IDM_4_ITEM4
    MENUITEM  "MenuItem5",      IDM_4_ITEM5
    MENUITEM  "MenuItem6",      IDM_4_ITEM6
END


LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT

IDM_1 MENU DISCARDABLE
BEGIN
    MENUITEM  "Menyvalg1",      IDM_1_ITEM1
    MENUITEM  "Menyvalg2",      IDM_1_ITEM2
    MENUITEM  "Menyvalg3",      IDM_1_ITEM3
    MENUITEM  "Menyvalg4",      IDM_1_ITEM4
END

IDM_2 MENU DISCARDABLE
BEGIN
    MENUITEM  "Menyvalg1",      IDM_2_ITEM1
END

IDM_3 MENU DISCARDABLE
BEGIN
    MENUITEM  "Menyvalg1",      IDM_3_ITEM1
    MENUITEM  "Menyvalg3",      IDM_3_ITEM3
    MENUITEM  "Menyvalg4",      IDM_3_ITEM4
END

IDM_4 MENU DISCARDABLE
BEGIN
    MENUITEM  "Menyvalg1",      IDM_4_ITEM1
    MENUITEM  "Menyvalg2",      IDM_4_ITEM2
    MENUITEM  "Menyvalg3",      IDM_4_ITEM3
    MENUITEM  "Menyvalg4",      IDM_4_ITEM4
    MENUITEM  "Menyvalg5",      IDM_4_ITEM5
    MENUITEM  "Menyvalg6",      IDM_4_ITEM6
END




/*
 *  String tables
 */

LANGUAGE 0, 0

STRINGTABLE DISCARDABLE
BEGIN
        IDS_DESKTOP             "Desktop"
        IDS_MYCOMPUTER          "My Computer"
END


LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

STRINGTABLE DISCARDABLE
BEGIN
        IDS_DESKTOP             "Desktop"
        IDS_MYCOMPUTER          "My Computer"
END


LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT

STRINGTABLE DISCARDABLE
BEGIN
        IDS_DESKTOP             "Desktop"
        IDS_MYCOMPUTER          "Min Computer"
END


LANGUAGE 0,0

RT_TYPELIB IDT_1
BEGIN
    "1111111111111111111"
END

