#ifndef WORKSHOP_INVOKED
  #include <os2.h>
#endif

#include "consolerc.h"


MENU ID_CONSOLE_MAIN
BEGIN
  MENUITEM "~Properties...", CM_CONSOLE_PROPERTIES
  MENUITEM SEPARATOR
  MENUITEM "~Pause",         CM_CONSOLE_PAUSE,, MIA_CHECKED
  MENUITEM "~Repaint",       CM_CONSOLE_REPAINT
  MENUITEM SEPARATOR
  MENUITEM "~Exit...",       CM_CONSOLE_EXIT
END

ICON ID_CONSOLE_MAIN CONSOLE.Ico


DLGTEMPLATE DLG_CONSOLE_PROPERTIES 
BEGIN
	DIALOG "Console Properties", 100, 6, 52, 262, 166, WS_VISIBLE, FCF_TITLEBAR | FCF_SYSMENU | FCF_NOBYTEALIGN
	BEGIN
		PUSHBUTTON    "~Undo",  ID_BTN_UNDO,  25, 1, 51, 14
		DEFPUSHBUTTON "~Apply", ID_BTN_APPLY, 79, 1, 51, 14
		PUSHBUTTON    "~Save",  ID_BTN_SAVE, 133, 1, 51, 14
		PUSHBUTTON    "~Help",  ID_BTN_HELP, 187, 1, 51, 14, BS_HELP
		CONTROL       "Sample", NB_CONSOLE_NOTEBOOK, 2, 17, 261, 147, WC_NOTEBOOK, BKS_SOLIDBIND | BKS_BACKPAGESBR | BKS_MAJORTABRIGHT | BKS_SQUARETABS | BKS_STATUSTEXTLEFT | BKS_TABTEXTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP | 0x0800
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
	END

END


DLGTEMPLATE DLG_CONSOLE_PAGE1 
BEGIN
	DIALOG "", 100, 14, 55, 209, 108, NOT FS_DLGBORDER | NOT WS_SAVEBITS | WS_VISIBLE | WS_CLIPSIBLINGS
	PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
	BEGIN
		CONTROL "~Settings", -1, 2, 1, 205, 105, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "~Close window on exit", CB_CONSOLE_CLOSEWINDOWONEXIT, 5, 78, 196, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Insert mode enabled", CB_CONSOLE_INSERTMODE, 5, 62, 196, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Quickinsert enabled", CB_CONSOLE_QUICKINSERT, 5, 46, 196, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Console ~toolbar", CB_CONSOLE_TOOLBAR, 5, 30, 196, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "tabwidth", SPN_CONSOLE_TAB, 122, 4, 55, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Tabulator ~width:", -1, 5, 4, 112, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "tabwidth", SPN_CONSOLE_CURSORBLINK, 122, 17, 55, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Cursor blink ~frequency:", -1, 5, 17, 112, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END


DLGTEMPLATE DLG_CONSOLE_PAGE2 
BEGIN
	DIALOG "", 100, 14, 55, 209, 108, NOT FS_DLGBORDER | NOT WS_SAVEBITS | WS_VISIBLE | WS_CLIPSIBLINGS
	PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
	BEGIN
		CONTROL "S~peaker", -1, 2, 1, 205, 105, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "~Enable speaker", CB_CONSOLE_SPEAKERENABLE, 6, 87, 195, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Speaker frequency", SLB_CONSOLE_SPEAKERFREQUENCY, 58, 60, 145, 24, WC_SLIDER, SLS_HORIZONTAL | SLS_CENTER | SLS_HOMELEFT | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12, 0, 20, 9, 10, 9
		CONTROL "~Frequency:", -1, 6, 68, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "~Duration:", -1, 6, 42, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Speaker duration", SLB_CONSOLE_SPEAKERDURATION, 58, 34, 145, 24, WC_SLIDER, SLS_HORIZONTAL | SLS_CENTER | SLS_HOMELEFT | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 12, 0, 20, 9, 10, 9
		DEFPUSHBUTTON "~Test",  ID_BTN_SPEAKERTEST,  69, 16, 71, 14
	END
END


DLGTEMPLATE DLG_CONSOLE_PAGE3 
BEGIN
	DIALOG "", 100, 14, 55, 209, 108, NOT FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
	PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
	BEGIN
		CONTROL "~Position and size", -1, 2, 42, 205, 64, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "~X:", -1, 8, 60, 22, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", SPN_CONSOLE_X, 49, 60, 48, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Y:", -1, 8, 45, 27, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", SPN_CONSOLE_Y, 49, 45, 48, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Width:", -1, 118, 60, 30, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", SPN_CONSOLE_DEFAULTWIDTH, 155, 60, 48, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Height:", -1, 119, 45, 30, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", SPN_CONSOLE_DEFAULTHEIGHT, 155, 45, 48, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Override default position and size", CB_CONSOLE_WINDOWPOSITION, 8, 80, 155, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Console buffer", -1, 2, 1, 205, 39, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "~Width:", -1, 8, 19, 30, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", SPN_CONSOLE_BUFFERWIDTH, 49, 19, 48, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Height:", -1, 119, 19, 30, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", SPN_CONSOLE_BUFFERHEIGHT, 155, 19, 48, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Buffer allocates .. MB memory.", ST_CONSOLE_BUFFERMEMORY, 8, 6, 194, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END


DLGTEMPLATE DLG_CONSOLE_PAGE5 
BEGIN
	DIALOG "", 100, 14, 55, 209, 108, NOT FS_DLGBORDER | NOT WS_SAVEBITS | WS_VISIBLE | WS_CLIPSIBLINGS
	PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
	BEGIN
		CONTROL "~Application priority", -1, 2, 46, 205, 28, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "~Class:", -1, 5, 52, 28, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", SPN_CONSOLE_APPPRIORITY, 46, 52, 48, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_READONLY | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Delta:", -1, 120, 52, 30, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", SPN_CONSOLE_APPPRIODELTA, 154, 52, 48, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_ALLCHARACTERS | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Console priority", -1, 2, 1, 205, 41, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "~Class:", -1, 5, 20, 28, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", SPN_CONSOLE_CONSOLEPRIORITY, 46, 20, 48, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_ALLCHARACTERS | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Delta:", -1, 120, 20, 30, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", SPN_CONSOLE_CONSOLEPRIODELTA, 154, 20, 48, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_ALLCHARACTERS | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "~Update after scrolling:", -1, 5, 7, 113, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", SPN_CONSOLE_UPDATELIMIT, 113, 5, 89, 12, WC_SPINBUTTON, SPBS_MASTER | SPBS_ALLCHARACTERS | SPBS_JUSTLEFT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END


DLGTEMPLATE DLG_CONSOLE_PAGE4 
BEGIN
	DIALOG "", 100, 14, 55, 209, 108, NOT FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
	PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
	BEGIN
		CONTROL "~Colors", -1, 2, 53, 205, 53, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Fo~reground:", -1, 6, 90, 68, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "...", VS_CONSOLE_FOREGROUND, 6, 56, 95, 34, WC_VALUESET, VS_RGB | VS_BORDER | VS_ITEMBORDER | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 8, 0, 2, 8
		CONTROL "~Background:", -1, 103, 90, 68, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "...", VS_CONSOLE_BACKGROUND, 103, 56, 99, 34, WC_VALUESET, VS_RGB | VS_BORDER | VS_ITEMBORDER | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CTLDATA 8, 0, 2, 8
		CONTROL "~Font", -1, 2, 1, 205, 49, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Sample", LB_CONSOLE_FONTS, 6, 4, 95, 36, WC_LISTBOX, WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Sizes (Rows x Cols.)", -1, 105, 32, 97, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "00 x 00", ST_CONSOLE_WINDOWSIZE, 156, 16, 47, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "00 x 00", ST_CONSOLE_SCREENSIZE, 156, 4, 47, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Window", -1, 105, 16, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Screen", -1, 105, 4, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END

DLGTEMPLATE DLG_CONSOLE_PAGE6 
BEGIN
	DIALOG "", 100, 14, 55, 209, 108, NOT FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
	BEGIN
	END

END

